<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d4bd724c-59f2-49a4-8b44-1b8fff0f4676" Publisher="CN=olivier.chekroun" Version="1.0.0.0" />
  <Properties>
    <DisplayName>U2UC.WinLob.App</DisplayName>
    <PublisherDisplayName>Diederik</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="U2UC.WinLob.App.App">
      <m2:VisualElements DisplayName="U2UC.WinLob.App.Owin" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="U2UC.WinLob.App" ForegroundText="light" BackgroundColor="lightSlateGray">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>clrhost.dll</Path>
        <ActivatableClass ActivatableClassId="U2UC.WinLob.BrokeredComponent.RunTimeClass" ThreadingModel="MTA">
          <ActivatableClassAttribute Name="DesktopApplicationPath" Type="string" Value="C:\DevProjects\HBT\ Main\Blogs\U2UC.WinLob.Sample\U2UC.WinLob.BrokeredComponent\bin\Debug" />
        </ActivatableClass>
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>