<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="U2UC.WinLob.Legacy.Properties.Settings.NorthwindConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Database\Northwind.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
